<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GetGPT</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/loader.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <script>
        window.API_BASE_URL = '{{ api_url }}';
    </script>
</head>
<body>
    <div id="loader" class="loader-container" style="display: none;">
        <div class="loader"></div>
    </div>
    <header>
        <h1><a href="/">GetGPT</a></h1>
        <nav>
            <button id="dark-mode-toggle">&#9728;</button>
            <a href="/">Home</a>
            <a href="/docs">About</a>
            <a href="/api-docs">API Documentation</a>
        </nav>
    </header>
    <div class="container">
        <div class="search-container">
            <input type="text" id="disease-query" placeholder="Enter a disease name...">
            <select id="top-k-select">
                <option value="5">Top 5</option>
                <option value="10">Top 10</option>
                <option value="20">Top 20</option>
            </select>
            <button id="search-btn">Search</button>
        </div>

        <div id="efo-results-container">
            <h2>Semantic Search Results</h2>
            <ul id="efo-results-list"></ul>
            <button id="get-genes-button" style="display:none;">Get Genes for Selected EFO ID</button>
        </div>

        <div id="gene-list-container">
            <h2>Gene List</h2>
            <button id="download-csv-btn" style="display:none;">Download CSV</button>
            <table id="gene-table" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Gene</th>
                        <th>Source</th>
                        <th>G Score</th>
                        <th>E Score</th>
                        <th>T Score</th>
                        <th>Overall Score</th>
                        <th>Evidence</th>
                        <th>EFO ID</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <footer>
        <p>
            Last Updated: Jul 20, 2025
        </p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="/static/scripts.js"></script>
</body>
</html>